.grid {
  display: grid;
  margin: 0 auto;
  max-width: 952px;
  grid-template-columns: [input] 204px [addhead] 181.4px [addtail] 181.4px [deletehead] 181.4px [deletetail];
  grid-template-rows: auto auto;
  gap: 12px;
  align-items: top;
}

.btn {
  font-size: 15px;
}

.input {
  grid-column-start: input;
}

.addhead {
  grid-column-start: addhead;
}

.addtail {
  grid-column-start: addtail;
}

.deletehead {
  grid-column-start: deletehead;
}

.deletetail {
  grid-column-start: deletetail;
}

.index {
  grid-row-start: 2;
  grid-column-start: input;
}

.addindex {
  grid-row-start: 2;
  grid-column-start: addhead;
  grid-column-end: deletehead;
}

.deleteindex {
  grid-row-start: 2;
  grid-column-start: deletehead;
  grid-column-end: end;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 110px auto 0 auto;
  justify-content: center;
  gap: 16px;
}

.listitem {
  display: flex;
  gap: 16px;
  align-items: center;
  position: relative;
}

.top {
  position: absolute;
  top: -70px;
  left: 12px;
}

.bottom {
  position: absolute;
  bottom: -94px;
  left: 12px;
}
