.grid {
  display: grid;
  margin: 0 auto;
  max-width: 924px;
  grid-template-columns: [select] auto 40px [bubble] auto 1fr [asc] auto 12px [desc] auto 1fr [reset] auto;
  align-items: center;
}

.select {
  grid-column-start: select;
}

.bubble {
  grid-column-start: bubble;
}

.asc {
  grid-column-start: asc;
}

.desc {
  grid-column-start: desc;
}

.reset {
  grid-column-start: reset;
}

.columns {
}
